.faqs{
  padding: 30px 20px;
  max-width: 1000px;
  margin: auto;
}
h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #c93f3f;
  font-size: 34px;
  font-weight: bold;
}
.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #c93f3f;
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px 20px;
}
.faq__item{
  margin-bottom: 20px;
}
.question h2{
  line-height: 1.3;
  margin: 0;
  font-size: 22px;
}
.question img{
  width: 30px;
  margin-left: 10px;
}
.question img.faq__icon__less{
  transform: rotate(270deg);
}
.question img.faq__icon__more{
  transform: rotate(180deg);
}
.answer{
  border-radius: 0px 0px 8px 8px;
  border: 1px solid #c93f3f;
  margin-top: -5px;
  padding: 20px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
